<footer>
    <div class="box_inner">
        <div class="column">
            <a href="/">
                <img src="/images/pa_text-1.png" /> 
            </a>
            <ul class="bottom_info">
                    <li>聯絡電話: <a href="tel:0932198085">0932198085</a></li>
                    <li>聯絡信箱: <a href="mailto:service@wdr.tw">service@wdr.tw</a></li>
                    </ul>
        </div>
        <div class="column"></div>
        <div class="column">
                <h3>我們可以提供</h3>
                <ul>
                        <li>Wordpress網站客制</li>
                        <li>修改現有網站版型</li>
                        <li>增強客製網站功能</li>
                        <li>網站資安加強</li>
                        </ul>
        </div>
        <div class="column">
                <h3>產品規劃</h3>
                <ul>
                        <li>網站主機規劃</li>
                        <li>各種頻改開發</li>
                        <li>手機APP整合</li>
                        </ul>
        </div>                        
    </div>
</footer>