<header class="global_header  fixed  clearfix">
    <a href="/" class="logo"><img src="/images/pa_text-1.png"></a>
    <div class="menu">
        <nav>
            <ul>
                <li><a href="/services">我們的服務</a></li>
                <li><a href="/works">成功案例</a></li>
                <!-- <li><a href="">查詢需求單</a></li> -->
                <li><a href="/contact">聯絡我們</a></li>
            </ul>
        </nav>
    </div>
</header>