  <div  id="service" class=" container">
        <div class="row">
            <div class="col-sm-4">
                <div class="service">
                    <div class="pic"><img src="/images/custom-icon-1.png" /></div>
                    <h3>網站除錯 / 維修</h3>
                    <p>Wordpress 網站除錯 / 維修，升級到最新程式，加強安全性，DDOS攻擊防護</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="service">
                    <div class="pic"><img src="/images/custom-icon-2.png" /></div>
                    <h3>WordPress 版型開發</h3>
                    <p>Wordpress 版型開發，現有版型加強，網站功能加強開發，銀行金流串接</p>
                </div>            
            </div>
            <div class="col-sm-4">
                <div class="service">
                    <div class="pic"><img src="/images/custom-icon-3.png" /></div>
                    <h3>WordPress Seo 加強</h3>
                    <p>改善網站結構，增強關鍵字的搜尋，購買轉換率提升</p>
                </div>  
            </div>
        </div>
    </div>
</div>