<div class="w_row">
    <div class="w12">
        <div class="inner">
            <h3>近期作品 Portfolios</h3>
        </div>
        <div class="inner">
            <div class="work_slider">
                <div>your content</div>
                <div>your content</div>
                <div>your content</div>
                <div>your content</div>
                <div>your content</div>
            </div>
        </div>
    </div>
</div>
