$header_height : 100px;


body.fe{
    background-image:url('/images/background-whole.jpg') ! important;
    background-size: cover ! important;
    background-position: center 0px;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-color:#f6f6f6;

    // padding-top:100px;

    a{
        display: block;
        text-decoration: none;
    }
    ul{
        padding:0;
        margin:0;
        li{
            list-style-type: none;
        }
    }    
}




header.global_header{
    background:#fff;  
    z-index: 200;
    height:  $header_height;
    padding: 0 15px;
    top:0;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.11);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.11);
    box-shadow: 0 1px 3px rgba(0,0,0,.11);


    &.fixed{
        width:100%;
        position: fixed;
        
    }
    
    .logo{
        float: left;
        width:300px;
        height:100px;
        padding:10px 0;
        img{
            height:100%;
        }
    }
    .menu{
        float: right;
        height:  $header_height;
        display: flex;
        align-items: center;
        nav{        
            ul{
                display: flex;
                li{
                    padding:0 15px;
                    a{
                        color: #414141;
                        font-family: 'Nunito';
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 700;
                        letter-spacing: 0px;
                        text-transform: uppercase;                        
                    }
                }
            }
        }
    }

}