#service{
    .service{
        border: 1px solid #ede7e7;
        background:#fff;
        padding: 53px 30px 28px 30px;
        margin-bottom: 30px;
        box-shadow: 0px 0px 51px 0px rgba(79, 57, 37, 0.09);
        flex-wrap: wrap;
        display: flex;
        h3,p,.pic{
            width:100%;
        }
        .pic{
            text-align: center;
            justify-content: center;
            margin-bottom: 15px;
        }
        h3{
            color: #191919;
            font-family: 'Nunito', sans-serif;
            font-size: 27px;
            line-height: 37px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 0px;
            text-transform: none;
            text-align: center;
            margin-bottom: 8px;
        }
        p{
            color:#716e6e;
        }
    }
}